#main-div{
height:100vh;
width:100%;
background: #212121;
background: radial-gradient(circle farthest-corner at bottom center, #212121 0%, #0f0f0f 80%);
background: -webkit-radial-gradient(circle farthest-corner at bottom center, #212121 0%, #0f0f0f 80%);
background: -moz-radial-gradient(circle farthest-corner at bottom center, #212121 0%, #0f0f0f 80%);
overflow: hidden;
border:1px solid white;
}


.main-logo-rotation-section{
  
  animation : rotate 4s infinite linear;
  transform-origin: center;
  transform-box:fill-box;
}

#Main-Logo{
  position:absolute;
  top:50%;
  left:50%;
  border:1px solid red;
  /* transform:scale(0.6); */

}


@keyframes rotate{
  from{ 
    transform:rotate(0deg);
  }to{
    transform:rotate(359deg);
    }
}

