@font-face {
  font-family: 'Poppins';
  src: local('Poppins'), url('./fonts/Poppins-Regular.ttf') ;
}

@font-face {
  font-family: 'Spartan';
  src: local('Spartan'), url('./fonts/Spartan-Regular.ttf') ;
}



* {
  padding: 0;
  margin: 0;

}