

.background-full {
    margin-top:-80px;
    padding: 0;
    min-height: 100vh;
    background-color: #050304;
   

    .layer {
        background: url(../../assets/backgrounds/landing-page-main-background.png) no-repeat center center fixed;
        background-size: cover;
        // position: absolute;
        // width: 70vw;
    }
    
}
