.background-full {
    padding: 0;
    min-height: 100vh;
    background-color: #050304;
   

    .layer {
        background: url("../../images/background.svg") no-repeat;
        background-position:100% 50%;
        background-size: 140% 150%;
        position: absolute;
        width: 70vw;
    }
    
}