.footer-sec-cont {
    padding: 0;
     
    background-color: rgba(0,0,0,0.7);
 


    .wrapper {
        padding: 1rem 3rem;
        .header {
     

            .form-sec {
                width: 100%;
              
                .heading {
                    color: #fff;
                    font-size: 1.7rem;
                    font-weight: bold;

                    .other-color {
                        color: #00ffff;
                    }
                }
                @media screen and (max-width:500px) {
                    .heading{
                        font-size:1.1rem;
                    }
                }
                @media screen and (max-width:350px) {
                    .heading{
                        font-size:1rem;
                    }
                }



                .custom-row{
                    width:50%;
                    display:flex;
                    flex-direction: row;

                
                .custom-col{
                    flex:1;
                    display:flex;
                    flex-direction: column;
                }
                .form-control-div{
                    display: flex;
                    flex-direction: column;
                }
                .input-f {
                    font-family: "Naville";
                    border-radius: 7px;
           
                    font-weight: bold;  
                    
                    background:none;
                    color:white;
                    border:2px solid #00ffff;
                    
                }
                @media screen and (max-width:522px) {
                    .input-f{
                        width: 15rem;
                        font-size: 0.7em;
                    }     
                }
                .input-f::placeholder{
                    color:#00ffff;
                    opacity:0.4;
                }
                
                .col{
                    float: left;
                }
               
                .submit-btn-f {
                    font-family: "Naville";
                    border-radius: 7px;
                
                   flex:0.5;
                    background: none;
                    color:#00ffff;
                    border: 3px solid #00ffff;
                    height:2.5rem;
                    font-size: 0.8rem;
                    font-weight: bold;
                    margin:0 1.2rem;
                    transition: 0.3s ease-in-out;
          
                }
                @media screen and (max-width:650px) {
                    .submit-btn-f{
                        margin: 0 0.2rem;
                    }
                }
                @media screen and (max-width:650px) {
                    .submit-btn-f{
                        font-size: 0.7em;
                    }
                }
                .submit-btn-f:hover {
                   background-color: #00ffff;
                   color:black;


                }
                }
                @media screen and (max-width:1000px) {
                    .custom-row{
                        width:100%;

                    }
                }
                @media screen and (max-width:600px){
                    .custom-row{
                        
                        flex-wrap: wrap;
                        justify-content: center;
                        .input-f{
                           width:100%;
                        }  
                        .submit-btn-f {
                            width:40%;

        
                        }
                    }
                
                
                }
                @media screen and (max-width:600px){
                    .custom-row{
                         flex-direction: column;
                         .submit-btn-f {
                            margin:0.3rem 0;

                        }
                    }
                
                
                }
                @media screen and (max-width:400px){
                    .custom-row{
                         flex-direction: column;
                         .submit-btn-f {
                            font-size:0.6rem;
                            
                        }
                    }
                
                
                }
                @media screen and (max-width:300px){
                    .custom-row{
                         flex-direction: column;
                         .submit-btn-f {
                            font-size:0.4rem;
                            
                        }
                    }
                
                
                }

            }
        }

        .separator {
         height: 1px;
         opacity: 1;
         background-color: #00ffff;
         border-radius: 10px;   
        }

        .footer-bottom-portion{
            
            display:flex;
            flex-direction:row;
            width:100%;
            color:white;
            .heading-portion{
                display:flex;
                justify-content: flex-start;
                align-items: center;
                flex:1;
                font-size:2rem;
                font-family:"Reformation";
                .title2{
                    font-family:"Reformation";
                    color: rgba(0,0,0,0);
                    -webkit-text-stroke: 1.8px #00ffff ;
                }
                    
                
            }
            @media screen and (max-width:300px) {
                .heading-portion{
 
                    font-size:1.4rem;
   
                        
                    
                }
            }
            .social-media-portion{
                display:flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                .logo.insta-logo{
                    margin-bottom:0.3px;
                    
                }
                .logo{
                    margin:0.3rem 2rem;
                    opacity:0.7;
                    transition:0.3s ease-in-out;                    
                }
                @media screen and (max-width:300px) {
                    .logo{
                        margin:0.3rem 0.9rem;
                    }   
        }
                .logo:hover{
                    opacity:1;
                }
              

            }
      
            .terms-portion{
          
                display:flex;
                justify-content: flex-end;
                align-items: center;
                flex:1;
                font-size:0.9rem;
           
            }
        }
        @media screen and (max-width:1000px) {
            .footer-bottom-portion{
                
                flex-direction: column;
                align-items: center;
                .social-media-portion{
                    margin:1.2rem 0.3rem;
                }
            }
        }
     
    }
}