.footer-sec-cont {
    padding: 0;
     
    background: #00050e;


    .wrapper {
        padding: 1rem 3rem;
        .header {
     

            .form-sec {
                width: 100%;
              
                .heading {
                    color: #fff;
                    font-size: 1.7rem;
                    font-weight: bold;

                    .other-color {
                        color: #00ffff;
                    }
                }
                .column{
                    display:flex;
                    flex-direction: column;
                .form-control-div{
                    display: flex;
                    flex-direction: column;
                }
                .input-f {
                    font-family: "Naville";
                    border-radius: 3px;
                    height: 2.5rem;
                    font-weight: bold;  
                    width:20rem;
                    background:none;
                    color:white;
                    border:2px solid #00ffff;
                    
                }
                .input-f::placeholder{
                    color:#00ffff;
                    opacity:0.4;
                }
                
                .col{
                    float: left;
                }
               
                .submit-btn-f {
                    font-family: "Naville";
                    border-radius: 7px;
                   padding:0.3rem 3rem;
                    background: none;
                    color:#00ffff;
                    border: 3px solid #00ffff;
                    height: 2.5rem;
                    font-size: 0.8rem;
                    font-weight: bold;
                    margin:0 1.2rem;
                    transition: 0.3s ease-in-out;
                }
                .submit-btn-f:hover {
                   background-color: #00ffff;
                   color:black;


                }
                }

            }
        }

        .separator {
         height: 1px;
         opacity: 1;
         background-color: #00ffff;
         border-radius: 10px;   
        }

        .footer-bottom-portion{
            
            display:flex;
            flex-direction:column;
            width:100%;
            color:white;
            .heading-portion{
                display:flex;
                justify-content: flex-start;
                align-items: center;
                flex:1;
                font-size:2rem;
                font-family:"Reformation";
                .title2{
                    font-family:"Reformation";
                    color: #05030400 ;
                    -webkit-text-stroke: 0.8px #00ffff ;
                }
                    
                
            }
            .terms-portion{
          
                display:flex;
                justify-content: flex-end;
                align-items: center;
                flex:1;
                font-size:0.7rem;
           
            }
        }
    }
}