.footer-sec-cont {
    padding: 0;
    font-family: "Poppins";
    background: #2d2d2d;
    border-top: 2px solid #fff;


    .wrapper {
        padding: 1rem 3rem;
        .header {
     

            .form-sec {
                display: flex;
                flex-direction: column;
                width: 100%;
              
                .heading {
                    color: #fff;
                    font-size: 1.7rem;
                    font-weight: bold;

                    .other-color {
                        color: #00ffff;
                    }
                }
                .row{
                    display:flex;
                    flex-direction: row;
                    // flex-wrap:nowrap;
                    border:2px solid white;

                .input {
                    
                    border-radius: 3px;
                    // margin-right: -1.5rem;
                    height: 2.5rem;
                    font-weight: bold;  
                    width:30%;
                }

                .submit-btn {
                    font-family: "Naville";
                    border-radius: 3px;
                    width:30%;
                    background: #009999;
                    border: none;
                    height: 2.5rem;
                    font-size: 0.8rem;
                    font-weight: bold;

                }
                }

            }
        }

        .separator {
         height: 1px;
         opacity: 1;
         background-color: #00ffff;
         border-radius: 10px;   
        }

        .footer-bottom-portion{
            
            display:flex;
            flex-direction:row;
            width:100%;
            color:white;
            .heading-portion{
                display:flex;
                justify-content: flex-start;
                align-items: center;
                flex:1;
                font-size:2rem;
                font-family:"Reformation";
                .title2{
                    font-family:"Reformation";
                    color: #05030400 ;
                    -webkit-text-stroke: 0.8px #00ffff ;
                }
                    
                
            }
            .terms-portion{
          
                display:flex;
                justify-content: flex-end;
                align-items: center;
                flex:1;
                font-size:0.7rem;
           
            }
        }
    }
}