.hero-cont {
   
    max-width: 100vw;
    min-height: 100vh;
    margin-top: -80px;
    overflow: hidden;
    padding: 0;
    display:flex;
    
    align-items:center;
 
    justify-content: center;
    .wrapper {
        
        width:100%;
        // height:80vh;
        overflow: hidden;
        display: flex;
        flex-direction: row;
        flex-wrap:wrap;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin: 4rem;

        .text-sec {
            display:flex;
            flex-direction:column;
            align-items: center;
            justify-content: center;
            flex:1;
            cursor: pointer;
            height:100%;
            text-transform: uppercase;
            // font-weight:600;
            font-family: "Spartan";

            #krypto-heading{
                color:white;
                margin-bottom:-70px;
                font-size:10rem;
                z-index:1;
            }
            @media screen and (max-width:800px){
                #krypto-heading{
                    font-size:7rem;
                    margin-top:-40px;
                }
            }

    @keyframes flicker{
    from{

    }to{
        opacity:0.4
    }
}
            #cards-heading{
                margin-top:-70px;
                -webkit-text-stroke: 2.9px #00ffff;
                font-size:10rem;
                color:rgba(0,0,0,0);
                animation:flicker 1.2s ease-in-out infinite;
                }
            @media screen and (max-width:800px){
                #cards-heading{
                    font-size:7rem;
                    margin-top:-30px;
                }
            }


            }
        .details-sec{
            display: flex;
            justify-content: center;
            flex:1;
            height:100%;
.swiper-sec {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45%;
    padding: 2rem;
    .swiper-card-sec {
        display: flex;
        justify-content: center;
        transition: all 0.4s linear;

      .swiper-card  {width: 15rem;}

      .card-active {
          transform: translate3d(0,0,100);
          transform: scale(1.2);
          margin: 0rem -6.5rem;
          z-index: 2;
      }
    }
}
}
        }
        }
    
 
 
 
