.hero-cont {
    width: 100vw;
    min-height: 100vh;
    padding: 0;

    .hero-wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        height: 100vh;

        .title-sec {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .title1 {
                color: white;
                font-size: 9rem;
                margin-bottom: -40px;
            }

            .title2 {
                -webkit-text-stroke: 2.9px #00ffff;
                color: rgba(0, 0, 0, 0);
                font-size: 9rem;
                margin-top: -40px;

            }
        }
    }
}
