.navbar-cont {
  height: 80px;
  margin-bottom: -80px;

  .wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0rem 1.5rem;
    height: 80px;
    width: 100%;

    .inner-header {
      .logo {
        width: 3.8rem;
      }
    }

    .menu {
      .menu-icon {
        font-size: 2rem;
        color: #fff;
      }
    }
  }
 
}