#tier-section-main-div {
    width:100%;
    font-family: "Spartan", sans-serif;

    text-align: center;


    #cards-section {
        cursor: pointer;
        display: flex;
        flex-direction: row-reverse;
        flex-wrap: wrap-reverse;
        justify-content: center;
        align-items: flex-start;
 
        @keyframes gold-card-hover {
            from {
                opacity: 0.6;
                filter: drop-shadow(2px 2px 20px rgb(255, 217, 0));

            }

            to {
                opacity: 1;
                filter: drop-shadow(2px 2px 200px rgb(255, 217, 0));
            }
        }

        @keyframes gold-card-hover-reverse {
            from {
                opacity: 1;
                filter: drop-shadow(2px 2px 200px rgb(255, 217, 0));

            }

            to {
                opacity: 0.6;

                filter: drop-shadow(2px 2px 20px rgb(255, 217, 0));
            }
        }

        @keyframes diamond-card-hover {
            from {
                opacity: 0.6;
                filter: drop-shadow(2px 2px 20px rgb(255,255,255));

            }


            to {
                opacity: 1;
                filter: drop-shadow(2px 2px 200px rgb(255, 255, 255));
            }
        };

        @keyframes diamond-card-hover-reverse {
            from {
                opacity: 1;
                filter: drop-shadow(2px 2px 200px rgb(255, 255, 255));

            }


            to {
                opacity: 0.6;
                filter: drop-shadow(2px 2px 20px rgb(255, 255, 255));
                
            }
        };
        @keyframes emerald-card-hover {
            from {
                opacity: 0.6;
                filter: drop-shadow(2px 2px 20px rgb(60, 204, 91));

            }


            to {
                opacity: 1;
                filter: drop-shadow(2px 2px 200px rgb(60, 204, 91));
            }
        };

        @keyframes emerald-card-hover-reverse {
            from {
                opacity: 1;
                filter: drop-shadow(2px 2px 200px rgb(60, 204, 91));

            }


            to {
                opacity: 0.6;
                filter: drop-shadow(2px 2px 20px rgb(60, 204, 91));
                
            }
        };

        @keyframes sapphire-card-hover {
            from {
                opacity: 0.6;
                filter: drop-shadow(2px 2px 20px rgb(46, 120, 231));

            }


            to {
                opacity: 1;
                filter: drop-shadow(2px 2px 200px rgb(46, 120, 231));
            }
        };

        @keyframes sapphire-card-hover-reverse {
            from {
                opacity: 1;
                filter: drop-shadow(2px 2px 200px rgb(46, 120, 231));

            }


            to {
                opacity: 0.6;
                filter: drop-shadow(2px 2px 20px rgb(46, 120, 231));
                
            }
        };


                       
 
 

        

        #gold-card-area:hover>#gold-card {
            animation: gold-card-hover .6s ease-in-out forwards;

        }
        #diamond-card-area:hover>#diamond-card {
            animation: diamond-card-hover .6s ease-in-out forwards;
        }
        #emerald-card-area:hover>#emerald-card{
            animation: emerald-card-hover .6s ease-in-out forwards;
        }
         
        #sapphire-card-area:hover>#sapphire-card{
            animation: sapphire-card-hover .6s ease-in-out forwards;

        }

        
        @keyframes torch-animation {
            from {
                opacity: .6;
            }

            to {
                opacity: 1;
            }
        }

        @keyframes torch-animation-reverse {
            from {
                opacity: 1;
            }

            to {
                opacity: .6;
            }
        }

        .card-area:hover>.torch-styling {
            animation: torch-animation .6s ease-in-out forwards;
        }
 

        .card-area {
            margin: 2.3rem;
            max-width: 240px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .card-styling {
                background: rgba(0, 0, 0, 0);
            }

            .torch-styling {
                animation: torch-animation-reverse .2s ease-in-out forwards;

            }

            .card-text {
                height: 8rem;
                color: white;
                font-size: 1.3rem;
                width: 100%;
                text-transform: uppercase;
                font-family: "Cinzel"
            }



            #gold-card {
                animation: gold-card-hover-reverse .2s ease-in-out forwards;

            }

            #diamond-card{
                animation: diamond-card-hover-reverse .2s ease-in-out forwards;
            }
            #emerald-card{
                animation: emerald-card-hover-reverse .2s ease-in-out forwards;
            }
            #sapphire-card {
                animation: sapphire-card-hover-reverse .2s ease-in-out forwards;
            }
            // #bronze-card{
            //     transform:scale(0.85
            //     );
            // }
 

        }


    }
}