.what-we-do-main-div{
    width:25rem;
    height:30rem;
    background-color: rgba(0, 0, 0, 0.801);
    border:2px solid #00ffff;
    margin:3rem;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
   flex-wrap: wrap;
    .image-styling{
        flex:0.6;
        transform:scale(0.3);
    }
    .text{
        flex:0.4;
    }
}