

#what-we-do-main-div{
    font-family:"Reformation";
    height:100%;
    max-width: 100vw;
    display:flex;
    flex-direction: column;
    overflow-x:hidden;
    margin-bottom:5rem;
    padding:0;
    font-weight:medium;
    #what-we-do-heading{
      
        width:50%;
        font-family:"Reformation";
        color:white;
        display:flex;
        align-items: center;
        justify-content: center;
        font-size:5rem;
        
        text-transform: uppercase;
        #question-mark{
            padding:0 9px;
            font-family:"Reformation";
            color:#00ffff;
        }
        

    }
    @media screen and (max-width:1200px) {
        #what-we-do-heading{
            width:100%;
            justify-content: center;
            align-items: center;
        }
    }
    @media screen and (max-width:850px) {
        #what-we-do-heading{
            font-size:4.2rem;
        }
    }
    @media screen and (max-width:600px) {
        #what-we-do-heading{
            font-size:3.0rem;
        }
    }


    #what-we-do-content{
     
        padding:1rem;
        width:100%;
    
        display:flex;
        flex-direction:row-reverse;
        

        #cards-section{
            
        
            display:flex;
            flex-direction:row;
            flex-wrap: wrap;
            margin-top:-30px;
            flex:0.7;
            .card-styling{
                margin:0 2rem;
                margin-bottom: 2rem;
                
            }
        }

        #text-section{
            font-family:"Reformation";
            padding-top:2.5rem;
            flex:1;
         
            color:white;
            font-size:1.4rem;
            .color-primary{
                color:#00ffff;
            }
        }
    }

    @media screen and(max-width:1200px) {
        #what-we-do-content{
            flex-direction:column-reverse;
            text-align: center;
            #cards-section{
                justify-content: center;
            }
        }
        
    }
    @media screen and(max-width:850px) {
        #what-we-do-content{
          #text-section{
              font-size:1.4rem;
          }
           
        }
        
    }
    @media screen and(max-width:400px) {
        #what-we-do-content{
          #cards-section{
              .card-styling{
                  transform:scale(0.6);
                  margin:0 0.4rem;
                  margin-bottom: 1.2rem;
              }
          }
           
        }
        
    }
}