.what-we-do-main-div{
    width:40vw;
    padding:1.4rem;
    background-color: rgba(0, 0, 0, 0.801);
    border:2px solid #00ffff;
    margin:3rem;
    border-radius: 30px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
    align-items: center;
    min-height:80vh;

    @media screen and (max-width:1000px) {
        width: 60vw;
    }

    
@media screen and (max-width:700px) {

      width:80vw;
  
  }

//    flex-wrap: wrap;
.test-para-wrapper{
    margin-top:4rem;
    .test-para{
        text-align: justify;
        color:white;
        font-size:1.7rem;
        display:flex;
        justify-content: center;
       }
       @media screen and (max-width:1200px) {
        .test-para{
            font-size:1.4rem;
          
       }}
       @media screen and (max-width:750px) {

        .test-para{
            
            font-size:1.2rem;
          
       }}
}
   


    .image-styling{
        width: 15rem;
        height: 15rem;
    }
    @media screen and (max-width:1100px) {
        .image-styling{
            transform: scale(0.8);
        }
         

        }

        @media screen and (max-width:350px) {
            .image-styling{
                transform: scale(0.6);
            }
             
    
            }
    
}


