#contact-us-main-div {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 2rem;
    margin-top: -80px;
    font-weight: 700;
    background: url(../../assets/backgrounds/contact-form-background.png) no-repeat center center fixed;
    background-size: cover;
    min-width: 100vw;
    min-height: 100vh;
    font-family: "Spartan";

    #lets {
        margin-top:3rem;
        color: white;
        font-size: 4.5rem;
        margin-bottom: -20px;

    }
    #connect {
        font-size: 4.5rem;
        color: #00ffff;
        margin-top: -20px;

    }
    @media screen and (max-width:484px) {
        #lets{
            margin-top:3rem;
            font-size: 2rem;
        }
        #connect {
            font-size: 2rem;
            padding-top: 3vh;
        }
        #form-submit-button{
            font-size: 0.5px;
        }
    }

    #main-form {
        color: white;
        width: 90%;
        
        .form-control {
            border: none;
            border-bottom: 2px solid white;
            background: none;
            width: 30rem;
            color: white;
            -moz-appearance: textfield;

        }


        .form-control::placeholder {
            color: white;
        }
        

        .form-group {
            margin: 1.5rem 0;
        }

        @media screen and (max-width:1000px){
            .form-row{
                flex-wrap: wrap;
            }
        
        }
        @media screen and (max-width:1100px){
            .form-control{

                width:18rem;
            }
        }

        @media screen and (max-width:600px){
            .form-control{
                width:13rem;
            }
        }



        .form-row {
            display: flex;
            flex-direction: row;
       
            .form-group {
                margin-right: 4rem;
                width: 100%;
            }
      

     
       

        }

        .form-control-textarea {
            width: 100%;
        }

        #form-submit-button {
            border: 2px solid #00ffff;
            background: none;
            color: #00ffff;
            font-size: 1.3rem;
            padding: 0.5rem 5rem;
            transition: 0.5s ease-in-out;
        }
        @media screen and (max-width:484px) {
            #form-submit-button{
                font-size: 1rem;
                margin-top: 3vh;
                padding: 0.5rem 3rem;
            }
        }
  

        #form-submit-button:hover {
            color: white;
            // border: none;
            background-color: #00ffffd5;
        }

    }

}


 
